<html>
    <head>
        <title>squ.ez</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <script src="../static/js/uikit.min.js"></script>
        <script src="../static/js/uikit-icons.min.js"></script>
    </head>
<body>
    <div class="uk-container uk-margin-xlarge-top">
    <h1 class="uk-heading-medium uk-text-center">Welcome to Squ.ez</h1>
    <div class="uk-margin">
        <input class="uk-input uk-form-width-large uk-align-center" type="text" placeholder="Paste URL here">
    </div>
    <button class="uk-button uk-button-small uk-button-default uk-align-center uk-button-primary">Shorten</button>
    </div>
</body>

</html>