<html>
    <head>
        <title>squ.ez</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <script src="../static/js/uikit.min.js"></script>
        <script src="../static/js/uikit-icons.min.js"></script>
    </head>
<body>
    <div class="uk-container uk-margin-xlarge-top">
    <h1 class="uk-heading-medium uk-text-center">Welcome to Squ.ez</h1>
    <h3 class="uk-text-center">Include www. in URL</h3>
    <form action="{{ url_for('shorten') }}" method="POST">
    <div class="uk-margin">
        <input name="url" class="uk-input uk-form-width-large uk-align-center" type="text" onclick="url_for('')" placeholder="Paste URL here">
    </div>
    <button class="uk-button uk-button-small uk-button-default uk-align-center uk-button-primary">Shorten</button>
    </div>
    </form>
</body>

</html>