<html>
    <head>
        <title>Oops</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <script src="../static/js/uikit.min.js"></script>
        <script src="../static/js/uikit-icons.min.js"></script>
    </head>
<body>
    <span class="uk-text-center" uk-icon="icon: ban; ratio: 2" ></span>
    <div class="uk-container uk-margin-small-top">
        <h2 class="uk-heading-xsmall">Something went wrong, here's why</h2>
        <table class="uk-text-center">
            <ul>
                <li>URL not found in database</li>
                <li>Invalid URL entered</li>
            </ul>
        </table>
    </div>
</body>

</html>